@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-sm;
  }

  h1 {
    @apply text-3xl;
  }
  
  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-sm;
  }
}

@screen sm {
  html {
    @apply text-base;
  }

  h1 {
    @apply text-4xl;
  }
  
  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}
