@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
  --text-primary-color: #2b343d;
  --text-secondary-color: #5e5e5e;
  --text-subtle-color: #919191;
  --section-bottom-color: var(--text-secondary-color);
  --hyperlink-color: #dc0000;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: var(--text-primary-color);
}

h1 {
  font-size: 46px;
  line-height: 48px;
  font-weight: lighter;
  margin-block: 0em;
}

h2 {
  font-size: 32px;
  line-height: 34px;
  font-weight: lighter;
  margin-block: 0em;
}

h3 {
  font-size: 24px;
  line-height: 26px;
  font-weight: lighter;
  margin-block: 0em;
}

h4 {
  font-size: 20px;
  line-height: 22px;
  font-weight: lighter;
  margin-block: 0em;
}

.top-background, .bottom-background {
  position: absolute !important;
  background-size: cover;
  width: 100%;
  height: 840.5px !important;
  opacity: 0.7;
  z-index: 0;
}

.top-background {
  top: 0;
  background-position: left top;
}

.bottom-background {
  background-position: right bottom;
  bottom: 0;
}

.personal-container {
  margin: 12px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto 1fr auto;
  gap: 12px;
}

.personal-details-container {
  vertical-align: top;
  display: grid;
  grid-template-rows: auto auto 1fr;
  row-gap: 8px;
  padding-top: 24px;
  flex: 1 1 auto;
}

.personal-details-name {
  font-size: 44px;
  line-height: 46px;
}

.personal-details-title {
  font-size: 24px;
  line-height: 26px;
}

.personal-metadata-container {
  flex: 1 1 auto;
  text-align: right;
}

.personal-avatar {
  border: 1px solid #425061;
  border-radius: 50%;
  transition: ease-out 0.3s;
}

.personal-metadata {
  line-height: 22px;
}

.metadata-icon-left {
  opacity: 0;
  transition: ease-out 0.2s;
}

.summary-container {
  display: flex;
  align-content: baseline;
  margin: 12px;
}

.summary-content {
  font-style: italic;
  color: var(--text-secondary-color);
  padding-left: 8px;
}

.section-container {
  padding-top: 12px;
}

.section-header {
  margin: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--section-bottom-color);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit);
  gap: 8px;
  padding: 12px;
}

.skill-item {
  background-color: var(--text-primary-color);
  color: white;
  border: 0.5px solid;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
}

.experience-container, .education-container {
  display: grid;
  row-gap: 18px;
  padding-left: 12px;
  padding-right: 12px;
}

.experience-item, .education-item {
  display: grid;
  row-gap: 8px;
}

.experience-header, .education-header {
  display: grid;
  row-gap: 8px;
}

.section-header-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.job-title, .education-degree {
  font-weight: bold;
}

.company, .education-school {
  display: flex;
  place-items: center;
}

.company span {
  padding-left: 8px; 
  cursor: pointer; 
  font-size: 0.7em; 
  color: var(--hyperlink-color);
}

.company span:hover {
  opacity: 0.7;
}

.job-tasks {
  display: grid;
  row-gap: 2px;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-secondary-color);
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  word-break: normal;
  white-space: normal;
  text-align: left!important;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
}

.footer-duration, .footer-location {
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
  color: var(--text-subtle-color);
}

.footer-duration {
  text-align: left;
}

.footer-location {
  text-align: right;
}

@media only screen and (max-width: 840.5px) {
  .personal-avatar {
    width: 144px;
    height: 144px;
  }

  .personal-metadata-container {
    text-align: left;
  }

  .metadata-icon-right {
    opacity: 0;
  }

  .metadata-icon-left {
    opacity: 1;
  }
}
