on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to run coverage for"
        default: "main"
        required: true
        type: string
        
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - run: npx vitest --coverage.enabled true --coverage.reporter=json-summary --coverage.reporter=json
      - uses: actions/upload-artifact@v5
        with:
          name: coverage-main
          path: coverage
